* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(182, 231, 182);
}

#panel {
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

#ptop {
    height: 80px;
    width: 100%;
    background-color: rgb(96, 146, 96);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20%;
}

.elem {
    width: 30%;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

.box {
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    font-weight: 700;
    font-size: 20px;
    color: rgb(96, 146, 96);
}

#pbtm {
    width: 100%;
    height: calc(100% - 80px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.bubble {
    height: 40px;
    width: 40px;
    background-color: rgb(96, 146, 96);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.bubble:hover {
    background-color: rgb(35, 58, 35);
    cursor: pointer;
}


@media (max-width: 768px) {
     #panel {
         width: 100%;
         height: 100%;
        
    }

     #ptop {
         flex-direction: column;
         height: auto;
         padding: 10px;
        
    }

     .elem{
        width: 100%;
         justify-content : space-between;
        
    }

     #pbtm {
         height: auto;
         padding: 10px;
        
    }

     .bubble {
         height: 30px;
         width: 30px;
        
    }

    

@media (max-width: 480px) {
     .elem {
         flex-direction: column;
         gap: 10px;
        
    }

     .bubble {
         height: 20px;
         width: 20px;
        
    }

    
}

}